@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center mt-5">
    <h1>ShoutOut😆</h1>
    <div class="mx-auto mt-5">
        <img style="max-block-size: 400px;" src="@Model.ImagePath" />
    </div>
    @Model.Message
</div>


<form class="mt-5 text-center" method="post" enctype="multipart/form-data">
    <input type="file" asp-for="Upload" />
    <input asp-for="Message" />
    <button type="submit">Submit</button>
</form>

<button id="enable">Enable notifications</button>

@section Scripts{ 
    <script>
    function askNotificationPermission() {
        // function to actually ask the permissions
        function sendNotification() {
            var img = '@Model.ImagePath';
            var text = '@Model.Message';
            var notification = new Notification('ShoutOut', { body: text, icon: img });
        }

        function handlePermission(permission) {
            // set the button to shown or hidden, depending on what the user answers
            if (Notification.permission === 'denied' || Notification.permission === 'default') {
                return
            } else {
                sendNotification();
            }
        }

        // Let's check if the browser supports notifications
        if (!('Notification' in window)) {
            console.log("This browser does not support notifications.");
        } else {
            if (checkNotificationPromise()) {
                Notification.requestPermission()
                    .then((permission) => {
                        handlePermission(permission);
                    })
            } else {
                Notification.requestPermission(function (permission) {
                    handlePermission(permission);
                });
            }
        }
    }

    function checkNotificationPromise() {
        try {
            Notification.requestPermission().then();
        } catch (e) {
            return false;
        }

        return true;
    }

    $("#enable").on("click", function () {
        askNotificationPermission();
    });
    </script>
}